*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30, 30, 30);
}
.game{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
     overflow: hidden;
}
h1{
    font-size: 40px;
    color: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);    
    z-index: 2;
}
.game::before{
    content: '';
    position: absolute;
    width: 180px;
    height: 130%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    animation: round 4s linear infinite;
}
.game::after{
    content: '';
    position: absolute;
    inset: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    box-shadow: 0 0 20px rgb(8, 8, 8);
    border-radius: 15px;
}
@keyframes round{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
